<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clark.mapper.EmployeeMapper">

    <select id="getEmployees" resultType="Employee">
        select * from employee
    </select>

    <select id="getEmployeeById" resultType="Employee">
        select * from employee
        where id = #{id}
    </select>

    <insert id="addEmployee" parameterType="Employee">
        insert into employee(id,firstName,lastName,email,phone,
                            address,gender,birth,hired,SIN,
                            departmentid,positionid)
        values (#{id},
                #{firstName},
                #{lastName},
                #{email},
                #{phone},
                #{address},
                #{gender},
                #{birth},
                #{hired},
                #{SIN},
                #{departmentid},
                #{positionid})
    </insert>

    <update id="updateEmployee" parameterType="Employee" >
        update employee
        set firstName=#{firstName},
            lastName=#{lastName},
            email=#{email},
            phone=#{phone},
            address=#{address},
            gender=#{gender},
            birth=#{birth},
            hired=#{hired},
            SIN=#{SIN},
            departmentid=#{departmentid},
            positionid=#{positionid}
        where id=#{id}
    </update>

    <delete id="deleteEmployee" parameterType="int">
        delete from employee
        where id=#{id}
    </delete>

    <select id="getEmployeesExceptByID" resultType="Employee">
        select * from employee
        where id != #{id}
    </select>
</mapper>