<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org">
<!-- BEGIN: Head-->

<head>
    <title>401</title>
    <!--Mata & CSS Files-->
    <div th:replace="~{commons/commons::cssFiles}"></div>
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/vendors.min.css}">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/core/menu/menu-types/vertical-menu.css}">
    <!-- END: Page CSS-->


</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern 1-column  navbar-sticky footer-static bg-full-screen-image  blank-page blank-page" data-open="click" data-menu="vertical-menu-modern" data-col="1-column">
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- error 401 -->
                <section class="row flexbox-container">
                    <div class="col-xl-6 col-md-7 col-9">
                        <div class="card bg-transparent shadow-none">
                            <div class="card-content">
                                <div class="card-body text-center bg-transparent miscellaneous">
                                    <h1 class="error-title">Unauthorized :(</h1>
                                    <p class="pb-3">
                                        Please apply for higher authorization.</p>
                                    <img class="img-fluid" th:src="@{/app-assets/images/pages/500.png}" alt="401 error">
                                    <a th:href="@{/index.html}" class="btn btn-primary round glow mt-3">BACK
                                        TO
                                        HOME</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- error 404 end -->
            </div>
        </div>
    </div>
    <!-- END: Content-->



    <!-- JavaScript Files-->
    <div th:replace="~{commons/commons::javascriptFiles}"></div>

    <!-- BEGIN: Page Vendor JS-->
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Page JS-->
    <!-- END: Page JS-->



</body>
<!-- END: Body-->

</html>